div.user-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    font-size: var(--h4);
}

div.user-menu input {
    padding: 1rem;
    font-size: var(--h5);
}

div.user-menu label {
    margin-top: 1rem;
}
/* reset */

div.user-menu button.switch-root {
    width: 80px;
    height: 30px;
    border-radius: 9999px;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--dark-grey);
}
div.user-menu button.switch-root:focus,
div.user-menu button.switch-root:hover {
    /* box-shadow: 0 0 0 1px black; */
    background-color: var(--light-grey);
}
div.user-menu button.switch-root:focus .switch-thumb,
div.user-menu button.switch-root:hover .switch-thumb {
    background-color: black;
}

div.user-menu button.switch-root[data-state='checked'] {
    background-color: var(--light-blue);
}

.switch-thumb {
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 2px 2px var(--black-a7);
    transition: transform 100ms;
    transform: translateX(2px) translateY(-5px);
    will-change: transform;
}
.switch-thumb[data-state='checked'] {
    transform: translateX(40px) translateY(-5px);
}
