div.user-menu {
    position: absolute;
    right: 5px;
    top: 5vh;
    z-index: auto;
    border-radius: 1rem;
}

div.user-logo button {
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: inherit;
    z-index: 10;
    position: relative;
}

div.user-logo button:hover,
div.user-logo button:focus {
    background-color: var(--light-blue);
    cursor: pointer;
}
