div.user-menu {
    position: absolute;
    right: 5px;
    top: 5vh;
    z-index: auto;
    border-radius: 1rem;
}

div.user-panel button {
    border-radius: 0.2rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: inherit;
    z-index: 10;
    position: relative;
    border: none;
}

div.user-panel button:hover,
div.user-panel button:focus {
    outline: solid 2px var(--dark-grey);
    cursor: pointer;
}

div.user-panel {
    display: flex;
    flex-flow: row no-wrap;
    justify-items: space-evenly;
    align-items: center;
    gap: 1rem;
}
