#pecia-doc {
    width: 100%;
}

.ProseMirror {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
    padding: 1rem;
    margin: 0 auto;
    max-width: 800px;
    width: 80%;
    min-height: 80vh;
    outline: solid 1px var(--mid-grey);
    background-color: white;
}

.ProseMirror pre {
    white-space: pre-wrap;
}

.ProseMirror li {
    position: relative;
}

.ProseMirror blockquote {
    border-left: 3px solid var(--mid-grey);
    padding-left: 10px;
}

.ProseMirror-hideselection *::selection {
    background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
    background: transparent;
}
.ProseMirror-hideselection {
    caret-color: transparent;
}

.ProseMirror-selectednode {
    outline: 2px solid #8cf;
}

/* Make sure li selections wrap around markers */

li.ProseMirror-selectednode {
    outline: none;
}

li.ProseMirror-selectednode:after {
    content: '';
    position: absolute;
    left: -32px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    border: 2px solid #8cf;
    pointer-events: none;
}

/* Protect against generic img rules */

img.ProseMirror-separator {
    display: inline !important;
    border: none !important;
    margin: 0 !important;
}

span.underline {
    text-decoration: underline;
}

span.strikethrough {
    text-decoration: line-through;
}

.ProseMirror h1 {
    font-size: var(--h2);
}

.ProseMirror h2 {
    font-size: var(--h3);
}

.ProseMirror h3 {
    font-size: var(--h4);
}
div #pecia-doc {
    order: 2;
}
@media (min-width: 800px) {
    div#pecia-doc {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        order: 3;
    }
}
