main {
    padding: 1rem;
    margin-top: 1rem;
    font-size: var(--h5);
}

.errors-wrapper,
.info-wrapper {
    margin: 0 auto;
    text-align: center;
    font-size: var(--h4);
}
.info-wrapper * {
    margin-top: 2rem;
}

.info-wrapper button {
    background-color: white;
    padding: 1rem;
    font-size: var(--h4);
}

.info-wrapper button:hover,
.info-wrapper button:focus {
    outline: solid 2px var(--dark-grey);
    cursor: pointer;
}
