@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;1,300&family=Merriweather:ital,wght@0,300;1,300&display=swap');
:root {
    --base-size: 1rem;
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
    --light-grey: #f9fbfd;
    --light-blue: #acd4fd;
    --dark-grey: #4b4c4d;
    --dark-blue: #55697d;
    --mid-grey: #c5c7c9;
    --bright-green: #93f598;
    --bright-yellow: #f0f593;
    --bright-red: #f26666;
    --pale-red: #ffe5e5;
    --dark-red: #c62a2f;
    --serif: 'Merriweather', serif;
    --sans-serif: 'Merriweather Sans', sans-serif;
    --green-1: #fbfefc;
    --green-2: #f2fcf5;
    --green-3: #e9f9ee;
    --green-4: #ddf3e4;
    --green-5: #ccebd7;
    --pale-green: #b4dfc4;
    --green-7: #92ceac;
    --green-8: #5bb98c;
    --mid-green: #30a46c;
    --green-10: #299764;
    --dark-green: #18794e;
}

html {
    box-sizing: border-box;
    font-family: var(--sans-serif);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--base-size);
    overflow-x: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

h1,
.h1 {
    font-size: var(--h1);
    margin: 0;
}

h2,
.h2 {
    font-size: var(--h2);
    margin: 0;
}

h3,
.h3 {
    font-size: var(--h3);
    margin: 0;
}

h4,
.h4 {
    font-size: var(--h4);
    margin: 0;
}

h5,
.h5 {
    font-size: var(--h5);
}

h6,
.h6 {
    font-size: var(--h6);
}

a {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}
