.checkbox-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}
.checkbox-root {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.CheckboxRoot:hover {
    outline: solid 1px var(--dark-grey)
}
.CheckboxRoot:focus {
    outline: solid 1px var(--dark-grey)
}

.CheckboxIndicator {
    color: var(--dark-green);
}

.label {
    padding-left: 15px;
}
